html {
  color: #000; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

a {
  outline: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

h1 {
  font-size: 2em !important;
  margin: .67em 0; }

h2 {
  font-size: 1.5em !important;
  margin: .75em 0; }

h3 {
  font-size: 1.2em !important;
  margin: .83em 0; }

h4 {
  margin: 1.12em 0; }

h5 {
  font-size: .83em !important;
  margin: 1.5em 0; }

h6 {
  font-size: .75em !important;
  margin: 1.67em 0; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

ul.horizontal li {
  display: inline-block;
  *display: inline;
  padding: 0 4px;
  float: left; }

input, textarea, select {
  background-repeat: repeat-x; }

input, textarea, select {
  *font-size: 100%; }

legend {
  color: #000; }

a {
  text-decoration: none; }

/* {{{ grid 960 */
/*
    Variable Grid System.
    Learn more ~ http://www.spry-soft.com/grids/
    Based on 960 Grid System - http://960.gs/

    Licensed under GPL and MIT.
*/
/* Containers
----------------------------------------------------------------------------------------------------*/
.container_24 {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }

.conteiner, .conteiner_2, .conteiner_3, .conteiner_4, .conteiner_5 {
  margin-left: auto;
  margin-right: auto;
  width: 1020px;
  background-repeat: repeat-x;
  background-color: #b9d5eb; }

.conteiner {
  height: 925px; }

.conteiner_2 {
  height: 1220px; }

.conteiner_3 {
  height: 1150px; }

.conteiner_4 {
  height: 862px; }

.conteiner_5 {
  height: 705px; }

.conteiner_z {
  margin-left: auto;
  margin-right: auto;
  height: 0px;
  background: transparent;
  background-image: none;
  /* [disabled]margin-top: 100px; */ }

.conteiner_z1 {
  margin-left: auto;
  margin-right: auto;
  width: 1020px;
  padding-top: 30px; }

.cont {
  margin: auto; }

.cont1 {
  margin-top: -1120px; }

.cont5 {
  margin-top: -695px; }

.conteiner_blue {
  background-color: #8db1d0;
  opacity: 0.6;
  position: absolute;
  z-index: 13;
  top: 0px;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=50); }

.conteiner_blue1 {
  background-color: #8db1d0;
  opacity: 0.6;
  position: absolute;
  z-index: 13;
  top: 0px;
  width: 100%;
  height: 1220px;
  filter: alpha(opacity=50); }

.conteiner_blue2 {
  background-color: #8db1d0;
  opacity: 0.6;
  position: absolute;
  z-index: 13;
  top: 0px;
  width: 100%;
  height: 805px;
  filter: alpha(opacity=50); }

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16,
.grid_17,
.grid_18,
.grid_19,
.grid_20,
.grid_21,
.grid_22,
.grid_23,
.grid_24 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 5px;
  margin-right: 5px; }

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha {
  margin-left: 0; }

.omega {
  margin-right: 0; }

/* Grid >> 24 Columns
----------------------------------------------------------------------------------------------------*/
.container_24 .grid_1 {
  width: 30px; }

.container_24 .grid_2 {
  width: 70px; }

.container_24 .grid_3 {
  width: 110px; }

.container_24 .grid_4 {
  width: 150px; }

.container_24 .grid_5 {
  width: 190px; }

.container_24 .grid_6 {
  width: 230px; }

.container_24 .grid_7 {
  width: 270px; }

.container_24 .grid_8 {
  width: 310px; }

.container_24 .grid_9 {
  width: 350px; }

.container_24 .grid_10 {
  width: 390px; }

.container_24 .grid_11 {
  width: 430px; }

.container_24 .grid_12 {
  width: 470px; }

.container_24 .grid_13 {
  width: 510px; }

.container_24 .grid_14 {
  width: 550px; }

.container_24 .grid_15 {
  width: 590px; }

.container_24 .grid_16 {
  width: 630px; }

.container_24 .grid_17 {
  width: 670px; }

.container_24 .grid_18 {
  width: 710px; }

.container_24 .grid_19 {
  width: 750px; }

.container_24 .grid_20 {
  width: 790px; }

.container_24 .grid_21 {
  width: 830px; }

.container_24 .grid_22 {
  width: 870px; }

.container_24 .grid_23 {
  width: 910px; }

.container_24 .grid_24 {
  width: 950px; }

/* Prefix Extra Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/
.container_24 .prefix_0 {
  padding-left: 25px; }

.container_24 .prefix_01 {
  padding-left: 15px; }

.container_24 .prefix_02 {
  padding-left: 10px; }

.container_24 .prefix_50 {
  padding-left: 49px; }

.container_24 .prefix_60 {
  padding-left: 60px; }

.container_24 .prefix_1 {
  padding-left: 40px; }

.container_24 .prefix_2 {
  padding-left: 80px; }

.container_24 .prefix_3 {
  padding-left: 120px; }

.container_24 .prefix_4 {
  padding-left: 160px; }

.container_24 .prefix_5 {
  padding-left: 200px; }

.container_24 .prefix_6 {
  padding-left: 240px; }

.container_24 .prefix_7 {
  padding-left: 280px; }

.container_24 .prefix_8 {
  padding-left: 320px; }

.container_24 .prefix_9 {
  padding-left: 360px; }

.container_24 .prefix_10 {
  padding-left: 400px; }

.container_24 .prefix_11 {
  padding-left: 440px; }

.container_24 .prefix_12 {
  padding-left: 480px; }

.container_24 .prefix_13 {
  padding-left: 520px; }

.container_24 .prefix_14 {
  padding-left: 560px; }

.container_24 .prefix_15 {
  padding-left: 600px; }

.container_24 .prefix_16 {
  padding-left: 640px; }

.container_24 .prefix_17 {
  padding-left: 680px; }

.container_24 .prefix_18 {
  padding-left: 720px; }

.container_24 .prefix_19 {
  padding-left: 760px; }

.container_24 .prefix_20 {
  padding-left: 800px; }

.container_24 .prefix_21 {
  padding-left: 840px; }

.container_24 .prefix_22 {
  padding-left: 880px; }

.container_24 .prefix_23 {
  padding-left: 920px; }

/* Suffix Extra Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/
.container_24 .suffix_1 {
  padding-right: 40px; }

.container_24 .suffix_2 {
  padding-right: 80px; }

.container_24 .suffix_3 {
  padding-right: 120px; }

.container_24 .suffix_4 {
  padding-right: 160px; }

.container_24 .suffix_5 {
  padding-right: 200px; }

.container_24 .suffix_6 {
  padding-right: 240px; }

.container_24 .suffix_7 {
  padding-right: 280px; }

.container_24 .suffix_8 {
  padding-right: 320px; }

.container_24 .suffix_9 {
  padding-right: 360px; }

.container_24 .suffix_10 {
  padding-right: 400px; }

.container_24 .suffix_11 {
  padding-right: 440px; }

.container_24 .suffix_12 {
  padding-right: 480px; }

.container_24 .suffix_13 {
  padding-right: 520px; }

.container_24 .suffix_14 {
  padding-right: 560px; }

.container_24 .suffix_15 {
  padding-right: 600px; }

.container_24 .suffix_16 {
  padding-right: 640px; }

.container_24 .suffix_17 {
  padding-right: 680px; }

.container_24 .suffix_18 {
  padding-right: 720px; }

.container_24 .suffix_19 {
  padding-right: 760px; }

.container_24 .suffix_20 {
  padding-right: 800px; }

.container_24 .suffix_21 {
  padding-right: 840px; }

.container_24 .suffix_22 {
  padding-right: 880px; }

.container_24 .suffix_23 {
  padding-right: 920px; }

/* Push Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/
.container_24 .push_1 {
  left: 40px; }

.container_24 .push_2 {
  left: 80px; }

.container_24 .push_3 {
  left: 120px; }

.container_24 .push_4 {
  left: 160px; }

.container_24 .push_5 {
  left: 200px; }

.container_24 .push_6 {
  left: 240px; }

.container_24 .push_7 {
  left: 280px; }

.container_24 .push_8 {
  left: 320px; }

.container_24 .push_9 {
  left: 360px; }

.container_24 .push_10 {
  left: 400px; }

.container_24 .push_11 {
  left: 440px; }

.container_24 .push_12 {
  left: 480px; }

.container_24 .push_13 {
  left: 520px; }

.container_24 .push_14 {
  left: 560px; }

.container_24 .push_15 {
  left: 600px; }

.container_24 .push_16 {
  left: 640px; }

.container_24 .push_17 {
  left: 680px; }

.container_24 .push_18 {
  left: 720px; }

.container_24 .push_19 {
  left: 760px; }

.container_24 .push_20 {
  left: 800px; }

.container_24 .push_21 {
  left: 840px; }

.container_24 .push_22 {
  left: 880px; }

.container_24 .push_23 {
  left: 920px; }

/* Pull Space >> 24 Columns
----------------------------------------------------------------------------------------------------*/
.container_24 .pull_1 {
  left: -40px; }

.container_24 .pull_2 {
  left: -80px; }

.container_24 .pull_3 {
  left: -120px; }

.container_24 .pull_4 {
  left: -160px; }

.container_24 .pull_5 {
  left: -200px; }

.container_24 .pull_6 {
  left: -240px; }

.container_24 .pull_7 {
  left: -280px; }

.container_24 .pull_8 {
  left: -320px; }

.container_24 .pull_9 {
  left: -360px; }

.container_24 .pull_10 {
  left: -400px; }

.container_24 .pull_11 {
  left: -440px; }

.container_24 .pull_12 {
  left: -480px; }

.container_24 .pull_13 {
  left: -520px; }

.container_24 .pull_14 {
  left: -560px; }

.container_24 .pull_15 {
  left: -600px; }

.container_24 .pull_16 {
  left: -640px; }

.container_24 .pull_17 {
  left: -680px; }

.container_24 .pull_18 {
  left: -720px; }

.container_24 .pull_19 {
  left: -760px; }

.container_24 .pull_20 {
  left: -800px; }

.container_24 .pull_21 {
  left: -840px; }

.container_24 .pull_22 {
  left: -880px; }

.container_24 .pull_23 {
  left: -920px; }

/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear, .eline {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 100%;
  height: 0; }

.eline {
  height: 1em; }

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* end grid }}}*/
.hidden {
  display: none !important; }

html {
  height: 100%; }

body {
  font-size: small;
  font-family: arial, verdana, sans-serif; }

.center {
  text-align: center; }

.bordered {
  border: 1px solid; }

.right {
  float: right; }

.left {
  float: left; }

.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  behavior: url("/media/css/PIE.htc");
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.button:hover {
  text-decoration: none; }

.button:active {
  position: relative;
  top: 1px; }

.blue_but {
  border: solid 1px #0076a3;
  color: white;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  background: -moz-linear-gradient(top, #00adee, #0078a5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00adee", endColorstr="#0078a5"); }

.blue_but:hover {
  color: white;
  background: #007ead;
  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
  background: -moz-linear-gradient(top, #0095cc, #00678e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0095cc", endColorstr="#00678e"); }

.blue_but:active {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
  background: -moz-linear-gradient(top, #0078a5, #00adee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0078a5", endColorstr="#00adee"); }

.golden_but {
  border: solid 1px #da7c0c;
  color: white;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background: -moz-linear-gradient(top, #faa51a, #f47a20);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#faa51a", endColorstr="#f47a20"); }

.golden_but:hover {
  color: white;
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
  background: -moz-linear-gradient(top, #f88e11, #f06015);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f88e11", endColorstr="#f06015"); }

.golden_but:active {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
  background: -moz-linear-gradient(top, #f47a20, #faa51a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f47a20", endColorstr="#faa51a"); }

.red_but {
  border: solid 1px #980c10;
  color: white;
  background: #d81b21;
  background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
  background: -moz-linear-gradient(top, #ed1c24, #aa1317);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ed1c24", endColorstr="#aa1317"); }

.red_but:hover {
  color: white;
  background: #b61318;
  background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
  background: -moz-linear-gradient(top, #c9151b, #a11115);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c9151b", endColorstr="#a11115"); }

.red_but:active {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
  background: -moz-linear-gradient(top, #aa1317, #ed1c24);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aa1317", endColorstr="#ed1c24"); }

.errorlist li {
  color: red; }

#container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -120px auto; }

#footer {
  height: 120px;
  background: #1F2020;
  position: relative;
  width: 100%;
  border-top: 2px solid black;
  color: white;
  font-weight: bold;
  font-family: Arial, verdana, sans-serif; }

#top #menu {
  position: relative;
  top: 80px; }
