html {
  color: #000; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

a {
  outline: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

h1 {
  font-size: 2em !important;
  margin: .67em 0; }

h2 {
  font-size: 1.5em !important;
  margin: .75em 0; }

h3 {
  font-size: 1.2em !important;
  margin: .83em 0; }

h4 {
  margin: 1.12em 0; }

h5 {
  font-size: .83em !important;
  margin: 1.5em 0; }

h6 {
  font-size: .75em !important;
  margin: 1.67em 0; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

ul.horizontal li {
  display: inline-block;
  *display: inline;
  padding: 0 4px;
  float: left; }

input, textarea, select {
  background-repeat: repeat-x; }

input, textarea, select {
  *font-size: 100%; }

legend {
  color: #000; }

a {
  text-decoration: none; }

/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
*/
/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/
body {
  min-width: 960px; }

/* Containers
----------------------------------------------------------------------------------------------------*/
.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px; }

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12 {
  position: relative; }

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha {
  margin-left: 0; }

.omega {
  margin-right: 0; }

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .grid_1 {
  width: 60px; }

.container_12 .grid_2 {
  width: 140px; }

.container_12 .grid_3 {
  width: 220px; }

.container_12 .grid_4 {
  width: 300px; }

.container_12 .grid_5 {
  width: 380px; }

.container_12 .grid_6 {
  width: 460px; }

.container_12 .grid_7 {
  width: 540px; }

.container_12 .grid_8 {
  width: 620px; }

.container_12 .grid_9 {
  width: 700px; }

.container_12 .grid_10 {
  width: 780px; }

.container_12 .grid_11 {
  width: 860px; }

.container_12 .grid_12 {
  width: 940px; }

/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .prefix_1 {
  padding-left: 80px; }

.container_12 .prefix_2 {
  padding-left: 160px; }

.container_12 .prefix_3 {
  padding-left: 240px; }

.container_12 .prefix_4 {
  padding-left: 320px; }

.container_12 .prefix_5 {
  padding-left: 400px; }

.container_12 .prefix_6 {
  padding-left: 480px; }

.container_12 .prefix_7 {
  padding-left: 560px; }

.container_12 .prefix_8 {
  padding-left: 640px; }

.container_12 .prefix_9 {
  padding-left: 720px; }

.container_12 .prefix_10 {
  padding-left: 800px; }

.container_12 .prefix_11 {
  padding-left: 880px; }

/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .suffix_1 {
  padding-right: 80px; }

.container_12 .suffix_2 {
  padding-right: 160px; }

.container_12 .suffix_3 {
  padding-right: 240px; }

.container_12 .suffix_4 {
  padding-right: 320px; }

.container_12 .suffix_5 {
  padding-right: 400px; }

.container_12 .suffix_6 {
  padding-right: 480px; }

.container_12 .suffix_7 {
  padding-right: 560px; }

.container_12 .suffix_8 {
  padding-right: 640px; }

.container_12 .suffix_9 {
  padding-right: 720px; }

.container_12 .suffix_10 {
  padding-right: 800px; }

.container_12 .suffix_11 {
  padding-right: 880px; }

/* Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .push_1 {
  left: 80px; }

.container_12 .push_2 {
  left: 160px; }

.container_12 .push_3 {
  left: 240px; }

.container_12 .push_4 {
  left: 320px; }

.container_12 .push_5 {
  left: 400px; }

.container_12 .push_6 {
  left: 480px; }

.container_12 .push_7 {
  left: 560px; }

.container_12 .push_8 {
  left: 640px; }

.container_12 .push_9 {
  left: 720px; }

.container_12 .push_10 {
  left: 800px; }

.container_12 .push_11 {
  left: 880px; }

/* Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .pull_1 {
  left: -80px; }

.container_12 .pull_2 {
  left: -160px; }

.container_12 .pull_3 {
  left: -240px; }

.container_12 .pull_4 {
  left: -320px; }

.container_12 .pull_5 {
  left: -400px; }

.container_12 .pull_6 {
  left: -480px; }

.container_12 .pull_7 {
  left: -560px; }

.container_12 .pull_8 {
  left: -640px; }

.container_12 .pull_9 {
  left: -720px; }

.container_12 .pull_10 {
  left: -800px; }

.container_12 .pull_11 {
  left: -880px; }

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.eline {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 1em; }

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix:after {
  clear: both; }

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix {
  zoom: 1; }

.hidden {
  display: none !important; }

html {
  height: 100%; }

body {
  font-size: small;
  font-family: arial, verdana, sans-serif; }

.center {
  text-align: center; }

.bordered {
  border: 1px solid; }

.right {
  float: right; }

.left {
  float: left; }

.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  behavior: url("/media/css/PIE.htc");
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.button:hover {
  text-decoration: none; }

.button:active {
  position: relative;
  top: 1px; }

.blue_but {
  border: solid 1px #0076a3;
  color: white;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  background: -moz-linear-gradient(top, #00adee, #0078a5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00adee", endColorstr="#0078a5"); }

.blue_but:hover {
  color: white;
  background: #007ead;
  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
  background: -moz-linear-gradient(top, #0095cc, #00678e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0095cc", endColorstr="#00678e"); }

.blue_but:active {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
  background: -moz-linear-gradient(top, #0078a5, #00adee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0078a5", endColorstr="#00adee"); }

.golden_but {
  border: solid 1px #da7c0c;
  color: white;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background: -moz-linear-gradient(top, #faa51a, #f47a20);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#faa51a", endColorstr="#f47a20"); }

.golden_but:hover {
  color: white;
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
  background: -moz-linear-gradient(top, #f88e11, #f06015);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f88e11", endColorstr="#f06015"); }

.golden_but:active {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
  background: -moz-linear-gradient(top, #f47a20, #faa51a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f47a20", endColorstr="#faa51a"); }

.red_but {
  border: solid 1px #980c10;
  color: white;
  background: #d81b21;
  background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
  background: -moz-linear-gradient(top, #ed1c24, #aa1317);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ed1c24", endColorstr="#aa1317"); }

.red_but:hover {
  color: white;
  background: #b61318;
  background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
  background: -moz-linear-gradient(top, #c9151b, #a11115);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c9151b", endColorstr="#a11115"); }

.red_but:active {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
  background: -moz-linear-gradient(top, #aa1317, #ed1c24);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aa1317", endColorstr="#ed1c24"); }

.errorlist li {
  color: red; }

#container {
  min-height: 100%;
  height: auto !important;
  height: 100%; }

#footer {
  height: 120px;
  background: #1F2020;
  position: relative;
  width: 100%;
  border-top: 2px solid black;
  color: white;
  font-weight: bold;
  font-family: Arial, verdana, sans-serif; }

#top {
  height: 80px;
  position: relative; }
  #top #menu {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 10px; }
    #top #menu div {
      border-top-left-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -webkit-border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      -moz-border-radius-topright: 5px;
      -webkit-border-top-right-radius: 5px;
      behavior: url("/media/css/PIE.htc");
      background: #667687;
      margin: 0 1px 0 0;
      padding: 4px;
      font-size: 14px;
      line-height: 20px;
      color: white;
      display: inline-block; }
      #top #menu div.active {
        background: #788DA3; }
      #top #menu div a {
        color: inherit; }
  #top #controls {
    margin-top: 10px; }

#grid {
  min-height: 400px;
  border-left: 1px solid #aaa;
  margin: 0;
  padding-left: 10px; }
  #grid .header {
    background-color: lightslategray;
    height: 25px;
    color: white;
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    behavior: url("/media/css/PIE.htc");
    line-height: 25px;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black; }
    #grid .header div:first-child {
      margin-left: 5px; }

form[name=form] li {
  display: block;
  margin-bottom: 10px; }
form[name=form] label {
  width: 100px;
  float: left; }

.grid_row {
  display: block;
  padding: 5px 0;
  height: auto;
  overflow: hidden; }
  .grid_row.white {
    background: white; }
  .grid_row.green {
    background: #EDF3FE; }
  .grid_row ul {
    max-height: 100px;
    overflow: auto; }
