{% extends 'base.jinja' %}

{% block content %}
    {% include 'left.jinja' %}
    <div id="grid" class="left">
        <form action="." method='POST' name="form">
            {% csrf_token %}
            <ul>
                {{ form.as_ul()}}
                <li>
                    <input type="submit" value="Kaydet" />
                </li>
                
            </ul>
        </form>
    </div>

{% endblock %}
