{% extends 'base.jinja' %}

{% block content %}
    
    {% include 'left.jinja' %}

    <div id="grid" class="left grid_10">
        {{ vtype }}
        {% if vtype == 'course' %}
            <div class="header">
                <div class="grid_4">Ders</div>
                <div class="grid_3">Eğitmen</div>
                <div class="grid_1">Saat</div>
                <div class="grid_1">Gün</div>
                <div class="">Sınıf</div>
            </div>
            {% if sch %}
                {% for course, val in sch.data.items() %}
                <div class="grid_row">
                    <div class="grid_4">{{ course.name }}</div>
                    <div class="grid_3">{{ val[0] }}</div>
                    <div class="grid_1">{{ val[1] }}</div>
                    <div class="grid_1">{{ val[2] }}</div>
                    <div class="">{{ val[3] }}</div>
                </div>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>

{% endblock %}
